brotli
cryptography
Cython
importlib_metadata
ipaddr
keyring
lockfile
lxml
matplotlib
mypy_extensions
numpy
ordereddict
protobuf
pyOpenSSL
scipy
seaborn
tensorflow
tqdm
typing_extensions
wincertstore
zipp
